@model IEnumerable<K8sMonitorCore.Aggregation.Dto.Tree.NodeNsDto>

<div class="container">
    @foreach (var ns in Model)
    {
        <div class="mb-5 d-flex row">
            <div class="col-2 ">
                <div class="card" id="ns-@ns.Name">
                    <p class="card-header ColoredTitle">@ns.Name</p>
                </div>
            </div>
            <div class="col-10" id="ns-@ns.Name-svcs">
                @foreach (var svc in ns.Services) {
                    <div class="mb-3 d-flex row">
                        <div class="col-6">
                            <div class="card @(svc.Errors.HasErrors ? "HasErrors" : svc is {Health.Healthy: true} ? "Healthy" : "Dead")" id="ns-@ns.Name-svc-@svc.Name">
                                <p class="card-header ColoredTitle">@svc.Name</p>
                                @if (svc is not {Errors.HasErrors: true}) {
                                    <div class="card-body px-3 pb-1 pt-2">
                                        <table class="table my-table mb-0">
                                            <tbody class="spread">
                                                <tr>
                                                    <th scope="row">Live pod percentage</th>
                                                    <td>@((svc.Health?.HealthyPercent is not null) ? $"{svc.Health.HealthyPercent:00} %" : "N/A")</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Last checked</th>
                                                    <td>@svc.Health.LastChecked</td>
                                                </tr>
                                            </tbody>
                                        </table>                                        
                                        @if (!string.IsNullOrWhiteSpace(svc.Health.LastError)) {
                                            <div class="error-field">
                                                <p class="m-0">Last error</p>
                                                @svc.Health.LastError
                                            </div>
                                        }
                                        <table class="table mb-0 mt-2">
                                          <tbody class="spread">
                                            <tr>
                                              <th scope="row">FailureThreshold</th>
                                              <td>@svc.PingerSettings.FailureThreshold</td>
                                            </tr>
                                            <tr>
                                              <th scope="row">Period</th>
                                              <td>@svc.PingerSettings.Period</td>
                                            </tr>
                                            <tr>
                                              <th scope="row">Timeout</th>
                                              <td>@svc.PingerSettings.Timeout</td>
                                            </tr>
                                            <tr>
                                              <th scope="row">Monitor pods</th>
                                              <td>@svc.PingerSettings.Hpa.Enabled</td>
                                            </tr>
                                            @if (svc.PingerSettings.Hpa.Enabled) {
                                            <tr>
                                                <th scope="row">Hpa threshold percentage</th>
                                                <td>@svc.PingerSettings.Hpa.Percentage</td>
                                            </tr>
                                            }
                                          </tbody>
                                        </table>
                                    </div>
                                } else {                                    
                                    <div class="card-body p-3">
                                        @foreach (var err in svc.Errors.ErrorList)
                                        {
                                            <hr />
                                            <p>@err.Type.ToString() error on property: <span class="font-italic">@err.Key</span></p>                                            
                                            <p>ErrorMessage: @err.Message</p>
                                            <p>Value found: <span class="font-italic">@err.Found</span></p>
                                        }
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="col-6" id="ns-@ns.Name-svc-@svc.Name-pods">
                            @if (svc.PingerSettings.Hpa.Enabled) {
                                @foreach (var pod in svc.Pods)
                                {
                                    <div class="card mb-1 @pod.StatusString" id="ns-@ns.Name-svc-@svc.Name-pod-@pod.Name">
                                        <p class="card-header ColoredTitle">@pod.Name</p>
                                        <div class="card-body p-3">
                                            <table class="table my-table mb-0">
                                                <tbody class="spread">
                                                    <tr>
                                                        <th scope="row">Pod health</th>
                                                        <td><span class="@pod.StatusString">@pod.StatusString</span></td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">Last checked</th>
                                                        <td>@pod.LastChecked</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            @if(!string.IsNullOrWhiteSpace(pod.LastError)) {
                                                <div class="error-field">
                                                    <p class="m-0">Last error</p>
                                                    @pod.LastError
                                                </div>
                                            }
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    }
</div>
